extends layout 

block content 
  style.
    .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }
    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }
    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }
    input:checked + .slider {
    background-color: #2196F3;
    }
    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }
    .slider.round:before {
    border-radius: 50%;
    }
  .container.my-5
    .text-center
      span  Normal
      label.switch
        input(type='checkbox' name='graduate')
        span.slider.round
      span.text-primary  Colored
    .col-md-12.ug.mt-5
      .card.bg-light
        .card-body.text-center
          h4.card-text.test1 Some text inside the normal card
          h4.card-text.test2.d-none test paragraph
    //- .col-md-12.mt-5.phd(style='display: none')
    //-   .card.bg-primary
    //-     .card-body.text-center
    //-       p.card-text Some text inside the colored card
  script.
    $(document).ready(function () {
    $('[name="graduate"]').change(function () {
    if ($('[name="graduate"]:checked').is(":checked")) {
    $('.test2').removeClass('d-none');
    $('.test1').addClass('d-none');
    } else {
    $('.test2').addClass('d-none');
    $('.test1').removeClass('d-none');
    }
    });
    });