body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.weather-card {
  color: #fff; 
  border: none; 
  border-radius: 35px; 
  background-color: rgb(3, 62, 97);
}
